<div class="maindiv">
	<h1>Alle absolvierten Trainings</h1>

	<table id="realised_trainings">
  		<thead>
  			<th><%= link_to "Kategorie"%></th>
  			<th><%= link_to "Datum"%></th>
  			<th><%= link_to "Dauer"%></th>
  			<th><%= link_to "Beschrieb"%></th>
  			<th>Löschen</th>
		</thead>
		
  		<tbody>
  		<% @realised_trainings.each do |realised_training|%>
		<tr>
			<td>
				<%= link_to realised_training_path(realised_training.id) do  %>
				<%if realised_training.category%>
     			<%= realised_training.category%>
     			<%else%> Neues Training
     			<%end%>
     			<%end%>
     		</td>
     		<td>
				<%= link_to realised_training_path(realised_training.id) do  %>
     			<%if realised_training.date%>
     			<%= realised_training.date.strftime("%d.%m.%Y")%>
     			<%end%>
     			<%end%>
     		</td>
     		<td>
				<%= link_to realised_training_path(realised_training.id) do  %>
     			<%= realised_training.duration %>
     			<%end%>
     		</td>
     		<td>
				<%= link_to realised_training_path(realised_training.id) do  %>
     			<%= realised_training.description %>
     			<%end%>
     		</td>     		
			<td>
				<%= link_to "Löschen", realised_training_path(realised_training.id), :method => 'delete'%>
			</td>
		</tr>
		<%end%>
		</tbody>
	</table>
	<%= link_to "Neu", realised_trainings_path, :method => 'post'%>
</div>
                                                                        